.footer {
    background-color: #3a3a42;
    color: white;
    padding: 1.8rem 0;

    &-social {
        display: flex;
        justify-content: center;
        cursor: pointer;
        font-size: 38px;
    }
    & a{
        color: invert($color: black);
        padding-right: 2rem;
    }
    &-go-top {
        display: flex;
        justify-content: center;
        font-size: 38px;
        transition: all 0.3s ease-in;
        cursor: pointer;

        &:hover {
            transform: translateY(-4px);
        }
    }
    &-icon {
        &:hover{
            color:inherit;
        }
    }
}