.footer-social{
    background-color: #3a3a42;
    & a{
        color: invert($color: black);
        padding-right: 1rem;
    }
    & svg{
        width:2rem;
        height:2rem;
    }
}
.icon{
    color:invert($color: black);
    &:hover{
        color:inherit;
    }
}

.back-to-top i {
    color: white;
    margin: 1rem 0 18px;
    transition: all 0.2s ease-in;
    cursor: pointer;
  
    &:hover {
      transform: translateY(-2px);
    }
  }
