#hero {
    min-height: 850px;
    height: 850px;
    display: flex;
    align-items: center;
    border-bottom: 0px;
    background: white;
    color: #3a3a42;
    padding: 0px 80px;
    z-index: -1;
    font-family: 'Kaisei HarunoUmi', serif;

    .hero-image {
      position: absolute;
      left: 0%;
      top: 12%;
      width: 300px;
    }
    .hero-name {
      position: absolute;
      top: 30%;
      left: 35%;
      font-size: 64px;
      @include for-size(tab-portrait) {
        top: 66%;
        left: 14%;
      }
    }
    .hero-sub {
      position: absolute;
      top: 40%;
      left: 35%;
      font-size: 20px;
      @include for-size(tab-portrait) {
        top: 75%;
        left: 14%;
      }
    }
    .hero-colour {
        color: rgb(18, 173, 148);
    }

    .hero-next {
      position: absolute;
      top: 50%;
      left: 35%;
      font-size: 20px;
      @include for-size(tab-portrait) {
        justify-content: center;
        top: 88%;
        left: 14%;
      }
    }
  }